.home{
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  height: 99%;
  width: 100%;
}


.search_form{
  
}

.title_text{
  text-align: center;
  font-size: 50px;
  font-style: bold;
  padding-top: 30px;
}
input[type=text] {
  border-radius: 10px;
  height: 5%;
  width: 100%;
  text-align: center;
  min-width: 200px;
}

input[name="search_word"] {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
  border-radius: 30px;
  border-color: white;
  height: 5%;
  width: 40%;
  font-size: 100%;
  min-width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

input[type=submit]:hover{
  background-color: white;
  color: black;
}
