{% extends 'word_display/base.html' %}

{% block content %}
        <div class="title">
            <div class="title_text">
                <h1>Hello!</h1>
                <h3>Learn English Fast!</h3>
            </div>
        </div>
        <div class="search_form">
            <form action="http://127.0.0.1:8000/word_display/dict_search/"  method="post">
                {% csrf_token %}
                <input type="text" name="word_value" id="word_value" >
                <br/>
                <br/>
                <input type="submit" value=" Search Your Keyword  ">
            </form>
        </div>
{% endblock %}