{% extends 'word_display/base.html' %}

{% block content %}
<div class="word_title">
    <h1>{{ word_value }}</h1>
</div>
<br/>
<br/>

<div class="dict_def">
    <div class="dict_def_title">
        Dictionary Definition
    </div>
    <div class="dict_def_entry">
        {{definition}}
    </div>
</div>
<br/>
<br/>

{% for entry in word_entry.users_def_set.all %}
    
    <div class="user_def_div">
        <div class="u_def_title">
            User Definition
        </div>
        <div class="user_def_entry">
            <div class="definition">
                {{ entry.userDef }}
            </div>   
            <div class="vote_count">
                    {{ entry.def_votes }}
                </div>
        </div>
        <br/>
        <div class="up_vote">
            <form action="/word_display/up_vote/" method="post">
                {% csrf_token %}
                <input type="submit" name="up_vote_btn" value="Up Vote">
                <input type="hidden" value="{{ word_value }}" name="word_value" id="word_value">
                <input type="hidden" value= "{{ entry.pk }}" name="key" id="key">
            </form>
        </div>
            <div class="down_vote">
                <form action="/word_display/down_vote/" method="post">
                    {% csrf_token %}
                    <input type="submit" name="up_vote_btn" value="Down Vote">
                    <input type="hidden" value="{{ word_value }}" name="word_value" id="word_value">
                    <input type="hidden" value= "{{ entry.pk }}" name="key" id="key">
                </form>
        </div>
        <br/>
        <br/>
    </div>
{% endfor %}

<div class="ref_div">
    <a href="/word_display/user_def/{{ word_value }}" style="text-decoration: none"> Add Your Own Definition!</a>
</div>


{% endblock %}