{% extends 'word_display/base.html' %}

{% block content %}
<h1>The word: {{ word_value }}</h1>
<h3>Dictionary Definition : {{definition}}</h3>
<h3>User's Definitions: </h3>

<ul>
    {% for entry in word_entry.users_def_set.all %}
        <li> {{ entry.userDef }} </li>
    {% endfor %}
</ul>
<h2> Enter your own definition:</h2>
<form action="/word_display/add_def/" method="post">
    {% csrf_token %}
    <input type="text" name="user_def" id="user_def">
    <input type="hidden" value="{{ word_value }}" name="word_value" id="word_value">
    <input type="submit" value="search">
</form>

{% endblock %}