{% extends 'word_display/base.html' %}

{% block content %}
<h1>The word: {{ word_value }}</h1>
<h3>Dictionary Definition : {{definition}}</h3>
<h3>User's Definitions: </h3>

{% for entry in word_entry.users_def_set.all %}
    <div>
        {{ entry.userDef }}
        <form action="/word_display/up_vote/" method="post">
            {% csrf_token %}
            <input type="submit" value="Up Vote">
            <input type="hidden" value="{{ word_value }}" name="word_value" id="word_value">
            <input type="hidden" value= "{{ entry.pk }}" name="key" id="key">
        </form>
        <form action="/word_display/down_vote/" method="post">
            {% csrf_token %}
            <input type="submit" value="Down Vote">
            <input type="hidden" value="{{ word_value }}" name="word_value" id="word_value">
            <input type="hidden" value= "{{ entry.pk }}" name="key" id="key">
        </form>
        {{ entry.def_votes }}
    </div>
{% endfor %}
<a href="/word_display/user_def/{{ word_value }}"> Add Your Own Definition!</a>

{% endblock %}